<template>
  <div class="relative flex flex-col">
    <div ref="cloud" class="w-full"></div>
  </div>
</template>

<script lang="ts">

import { TopicTerm } from '../types/types'

import { defineComponent, PropType } from "vue"
import * as d3 from 'd3'
import cloud from '../data/tagCloud.js'

export default defineComponent({
  props: {
    terms: {
      type: Object as PropType<TopicTerm>,
      required: true
    },
    topicNumber: {
      type: Number,
      required: true
    },
    numOfTopics: {
      type: Number,
      required: true
    },
    platform: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      layout: {} as {} | typeof cloud,
      chart: {},
      fill: null as null | d3.ScaleOrdinal<string, unknown, never>,
      min: -10,
      max: 10,
      padding: 0,
      fontSizeMapper: (word: TopicTerm) => 10 + word.size * 40,
      font: "Helvetica",
      spiral: "archimedean",
      coloring: "size",
      colorCount: 3,
      width: 600,
      height: 300,
    };
  },
  computed: {
    rotate: function () {
      let newMin = this.min
      let newMax = this.max
      return () => Math.random() * (newMax - newMin) + newMin
    }
  },
  methods: {
    createCanvas() {
      this.fill = d3.scaleOrdinal().range(this.$store.state.colors)

      this.layout = cloud()
        .size([this.width, this.height])
        .words(this.terms)
        .padding(this.padding)
        .spiral(this.spiral)
        .rotate(this.rotate)
        .font(this.font)
        .fontSize(this.fontSizeMapper)
        .on("end", this.end)

      this.layout.start()
    },
    end: function () {
      const cloud = this.$refs.cloud as HTMLDivElement
      //@ts-ignore
      d3.select(cloud)
          .append("svg")
          .attr("viewBox", '0 0 ' + this.width + ' ' + this.height)
          .append("g")
          .attr("transform", `translate(${this.width / 2},${this.height / 2})`)
          .selectAll("text")
          .data(this.terms)
          .enter()
          .append("text")
          .classed("word-tag", true)
          .on("click", (event, element) => {
            this.openWordStats(element);
          })
          .style("font-family", (d) => d.font)
          .style("font-size", (d) => {
            return `${d.size}px`;
          })
          .style("fill", (d, i) => this.fill(i))
          .attr("text-anchor", "middle")
          .attr("transform", (d) => {
            return `translate(${[d.x, d.y]})rotate(${d.rotate})`;
          })
          .text((d) => d.text)
    },
    openWordStats(element: TopicTerm){
      console.log(element)
      let routeData = this.$router.resolve({name: 'termStatistics', query: {topicNumber: this.topicNumber, numOfTopics: this.numOfTopics, platform: this.platform, term: element.text}});
      window.open(routeData.href, '_blank');
    }
  },
  mounted() {
    this.createCanvas()
  }
})
</script>

<style lang="scss">

.word-tag:hover {
  font-weight: bold !important;
  cursor: pointer;
}
</style>
