<template>
    <Multiselect class="data-source-multiselect"
                 :class="{'input--error':selectedDataSources.length===0}"
                 v-model="selectedDataSources"
                 :options="dataSources"
                 mode="tags"
                 @select="onDataSourceChanged"
                 @deselect="onDataSourceChanged"
    />
</template>

<script>
    import Multiselect from '@vueform/multiselect'
    import {DATA_SOURCE_TWITTER, DATA_SOURCE_INSTAGRAM} from '../types/types'

    export default {
        components: {
            Multiselect,
        },
        data() {
            return {
                selectedDataSources: this.$store.state.selectedOptions.dataSources,
                dataSources: [
                    DATA_SOURCE_TWITTER,
                    DATA_SOURCE_INSTAGRAM
                ]
            }
        },
        methods: {
            onDataSourceChanged () {
                this.$store.commit('CHANGE_SELECTED_OPTIONS', {
                    topics: this.$store.state.selectedOptions.topics,
                    method: this.$store.state.selectedOptions.method,
                    dataSources: this.selectedDataSources
                })
                this.$emit("data_source_selection_changed_event", this.selectedDataSources);
            }
        },
        mounted() {
            this.onDataSourceChanged();
        }
    }
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style lang="scss">
    @import '../style/variables.scss';

    .data-source-multiselect {
        width: 270px;
        margin-right: 15px;
    }

    .multiselect-tag {
        background: $bright_blue;
    }

    .multiselect-dropdown {
        color: black;
    }

    .input--error{
        border: red 2px solid;
    }
</style>