<template>
  <div class="w-full">
    <div id="vis-header" class="ldavis"></div>
    <div id="vis" class="ldavis w-full mx-auto flex flex-wrap lg:flex-nowrap"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import LDAvis from '../data/ldavis.js'

export default defineComponent({
  props: {
    json: Object,
    colors: Array
  },
  mounted () {
    LDAvis('#vis', this.json, this, 'rgba(156, 163, 175, 1)', 'rgba(96, 165, 250, 1)', this.colors, '#vis-header')
  }
})
</script>

<style lang="postcss" scoped>
.ldavis:deep #vis-top {
  @apply text-gray-400 text-sm uppercase font-bold;
}

.ldavis:deep #vis-top button {
  @apply py-1 px-2 rounded bg-gray-400 text-white hover:bg-main;
}

.ldavis:deep article {
  @apply flex-grow relative;
}

.ldavis:deep svg {
  @apply w-full;
}

.ldavis:deep svg text {
  @apply text-sm uppercase;

  fill: theme('colors.gray.400');
}

.ldavis:deep #vis-lambdaZero sup {
  @apply absolute right-0;
}

.ldavis:deep #vis-lambdaInput {
  @apply relative flex items-center;
}

.ldavis:deep #vis-lambdaInput label {
  @apply absolute right-0 top-0;
}
</style>
