<template>
  <nav
    :class="{'flex flex-wrap w-full my-2 text-white text-xs font-bold': true,
            'justify-end': $route.path !== '/'}">
    <Tooltip
      text="Hier findest du Informationen zur Datengrundlage, wie Anzahl der Tweets, User und Zeitraum."
      v-if="documentLoaded"
      class="flex w-full mb-2 text-main">
      <div :class="$route.path !== '/' ? 'ml-4' : 'ml-auto'">
        <twitter class="inline-block w-5 h-5 iconImg"></twitter>
        <span class="ml-1">{{tweetCount }}</span><br>
        <instagram class="inline-block w-5 h-5 iconImg"></instagram>
        <span class="ml-1">{{instagramCount }}</span>
      </div>
      <div class="ml-4">
        <users class="inline-block w-5 h-5 iconImg"></users>
        <span class="ml-1">{{ tweetUsers }}</span><br>
        <users class="inline-block w-5 h-5 iconImg"></users>
        <span class="ml-1">{{instagramUsers}}</span>
      </div>
      <div :class="$route.path !== '/' ? 'ml-24' : 'ml-4 mr-auto'">
        <time-span class="inline-block w-5 h-5 iconImg"></time-span>
        <span class="ml-1">{{tweetPeriod}}</span><br>
        <time-span class="inline-block w-5 h-5 iconImg"></time-span>
        <span class="ml-1">{{instagramPeriod}}</span>
      </div>
    </Tooltip>

    <div v-else class="w-full h-7"></div>
    <div
      :class="{'relative flex-grow h-auto py-3 px-4 bg-main flex items-center justify-start xsm:flex-row z-10': true,
              'w-full': $route.path === '/'}"
      >
      <router-link to="/" class="flex items-center" v-show="$route.path !== '/'">
        <img src="/assets/robot.svg" class="w-20 pr-2 sm:pl-0 lg:w-16 -mt-1" />
        <span class="hidden lg:block ml-8 text-3xl font-light">
          Jugendverstärker
        </span>
      </router-link>
      <Tooltip
        :text="showErrorMessage ? getErrorMessage():
          'Daten und Anzahl der Themen wählen, die gecluster werden sollen.'"
        :isError="showErrorMessage"
        :class="['flex flex-col sm:flex-row', $route.path !== '/' ? 'ml-auto' : 'mx-auto lg:text-lg']">
        <div :class="['flex flex-col lg:flex-row uppercase',
                      $route.path !== '/' ? 'items-start' : 'items-center']">
          <label class="sm:mr-2">
            Datenquellen
          </label>
          <data-source-select v-on:data_source_selection_changed_event="dataSourcesChanged"/>
        </div>
        <div :class="['flex flex-col lg:flex-row uppercase',
                      $route.path !== '/' ? 'items-start' : 'items-center']">
          <label class="sm:mr-2">
            Clustermethode
          </label>

          <select
            class="inline-block appearance-none px-1 w-20 lg:px-4 h-8
                  bg-white text-lg text-main border hover:border-gray-500 leading-tight focus:text-blue-600 focus:outline-none focus:shadow-outline"
            ref="methods"
            id="methods"
            readonly
            >
            <option v-for="method in methods">{{method}}</option>
          </select>
        </div>
        <div :class="['flex flex-col lg:flex-row uppercase sm:ml-4',
                      $route.path !== '/' ? 'items-start' : 'items-center']">
          <label class="sm:mr-2">
            THEMEN
          </label>
          <input
            class="w-12 h-8 px-1 xsm:w-20 xsm:px-4 cursor-pointer
                bg-white text-lg text-main border hover:border-gray-500 leading-tight focus:outline-none focus:shadow-outline"
            id="topics"
            type="text"
            placeholder="4"
            v-model="topics" />

        </div>
        <div class="download-csv-container lg:pb-3 invisible w-6 sm:visible flex lg:flex-row sm:ml-4" v-if="$route.path !== '/'">
            <i class="fas fa-file-download"></i>
            <button class="uppercase" @click="downloadCsv">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="20" height="20"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M85.6775,3.3325c-0.14781,0.02688 -0.29562,0.06719 -0.43,0.1075c-1.59906,0.36281 -2.72781,1.80063 -2.6875,3.44v105.135l-21.6075,-21.6075c-0.83312,-0.86 -2.05594,-1.22281 -3.225,-0.9675c-1.29,0.22844 -2.32469,1.16906 -2.6875,2.41875c-0.36281,1.26313 0.01344,2.60688 0.9675,3.49375l27.52,27.52l2.4725,2.365l2.4725,-2.365l27.52,-27.52c1.37063,-1.37062 1.37063,-3.57437 0,-4.945c-1.37062,-1.37062 -3.57437,-1.37062 -4.945,0l-21.6075,21.6075v-105.135c0.04031,-0.99437 -0.36281,-1.94844 -1.075,-2.62031c-0.72562,-0.68531 -1.70656,-1.02125 -2.6875,-0.92719zM24.08,55.04v116.96h123.84v-116.96h-34.4c-1.23625,-0.01344 -2.39187,0.63156 -3.02344,1.70656c-0.61813,1.075 -0.61813,2.39187 0,3.46687c0.63156,1.075 1.78719,1.72 3.02344,1.70656h27.52v103.2h-110.08v-103.2h27.52c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656z"></path></g></g></svg>
            </button>
        </div>
        <button
          :class="['flex flex-col sm:hidden w-20 text-left bg-main p-0 m-0 hover:underline font-bold uppercase',
          $route.path !== '/' ? '' : 'hide']"
          @click="process" style="">
          <div v-if="$route.path !== '/'" class=""></div>
          Berechnen
        </button>
      </Tooltip>
    </div>
    <button
      :class="['relative sm:w-32 h-16 p-3 xl:h-auto bg-main hover:bg-blue-600 font-bold uppercase',
              $route.path !== '/' ? 'hide ml-1 xsm:pl-6' : 'mt-4 mx-auto lg:text-lg']"
      @click="process">
      <div v-if="$route.path !== '/'" class="hide"></div>
      Berechnen
    </button>
  </nav>
</template>

<script lang="ts">
import {METHOD_LDA, DocumentStats} from '../types/types'

import axios from 'axios'
import { defineComponent } from 'vue'

import Users from './icons/users.vue'
import Twitter from './icons/twitter.vue'
import Instagram from './icons/instagram.vue'
import TimeSpan from './icons/timespan.vue'
import DataSourceSelect from './dataSourceSelect.vue'

import Tooltip from './tooltip.vue'

const TOPICS_API = import.meta.env.VITE_TOPICS_API

export default defineComponent({
  components: {
    Users,
    Twitter,
    Instagram,
    TimeSpan,
    Tooltip,
    DataSourceSelect
  },
  data () {
    return {
      topics: this.$store.state.selectedOptions.topics,
      dataSources: this.$store.state.selectedOptions.dataSources,
      methods: [METHOD_LDA],
      validTopicSelection: true,
      validDataSourceSelection: true,
      showErrorMessage: false,
      maxDate: {} as Date,
      minDate: {} as Date,
      documentLoaded: false,
      readyForDownload: false,
      documentsStats: {} as DocumentStats
    }
  },
  computed: {
    tweetUsers (): number {
      return this.documentsStats.twitterDocumentStats.numUsers;
    },
    tweetCount (): string {
      if (this.documentsStats.twitterDocumentStats.numDocs == 0){
        return "0"
      }
      return this.documentsStats.twitterDocumentStats.numDocs.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    tweetPeriod (): string {
      if (this.documentsStats.twitterDocumentStats.numUsers == 0) {
        return '-'
      }
      const dateMinStr = this.getDateString(new Date(this.documentsStats.twitterDocumentStats.dateMin))
      const dateMaxStr = this.getDateString(new Date(this.documentsStats.twitterDocumentStats.dateMax))
      return dateMinStr + ' - ' + dateMaxStr;
    },
    instagramUsers (): number {
      return this.documentsStats.instagramDocumentStats.numUsers;
    },
    instagramCount (): string {
      if (this.documentsStats.instagramDocumentStats.numDocs == 0){
        return "0"
      }
      return this.documentsStats.instagramDocumentStats.numDocs.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    instagramPeriod (): string {
      if(this.documentsStats.instagramDocumentStats.numUsers == 0){
        return '-'
      }
      const dateMinStr = this.getDateString(new Date(this.documentsStats.instagramDocumentStats.dateMin))
      const dateMaxStr = this.getDateString(new Date(this.documentsStats.instagramDocumentStats.dateMax))
      return dateMinStr + ' - ' + dateMaxStr;
    },
    topicsNumber (): null | number {
      return typeof this.$route.params.topics === 'string' ? parseInt(this.$route.params.topics) : null
    }
  },
  watch: {
    topics () {
      const input = this.topics
      if (!input || input > 3500 || input < 2) {
        this.validTopicSelection = false
        this.showErrorMessage = true
      } else {
        this.validTopicSelection = true
        this.showErrorMessage = false
      }
    },
    dataSources () {

    }
  },
  methods: {
    process () {
      if (this.validTopicSelection && this.validDataSourceSelection) {
        const methodSelect = this.$refs.methods as HTMLSelectElement
        const method = methodSelect.value.toLowerCase()
        this.dataSources = this.$store.state.selectedOptions.dataSources
        const dataSource =  this.dataSources.length > 1 ? "mixed": this.dataSources[0]
        this.$store.commit('CHANGE_SELECTED_OPTIONS', {
          topics: this.topics,
          method: method,
          dataSources: this.dataSources
        })
        this.$router.push({ path: '/' + method + '/' + this.topics + '/' + dataSource})
      } else {
        this.showErrorMessage = true
      }
    },
    downloadCsv () {
      this.dataSources = this.$store.state.selectedOptions.dataSources
      const dataSource =  this.dataSources.length > 1 ? "mixed": this.dataSources[0]
      axios({
        url: TOPICS_API + '/statistics/' + dataSource + '/' + this.topics,
        method: 'GET',
        responseType: 'blob',
      }).then((response) => {
        let fileURL = window.URL.createObjectURL(new Blob([response.data]));
        let fileLink = document.createElement('a');
        fileLink.href = fileURL;
        fileLink.setAttribute('download', 'data.csv');
        document.body.appendChild(fileLink);
        fileLink.click();
      });
    },
    loadInfo () {
      axios.get(TOPICS_API + '/document_stats').then(res => {
        this.documentLoaded = true
        this.documentsStats = res.data
      })
    },
    dataSourcesChanged: function(dataSources: []) {
      this.dataSources = dataSources;
      if (this.dataSources == null || this.dataSources.length == 0 ) {
        this.validDataSourceSelection = false
        this.showErrorMessage = true
      } else {
        this.validDataSourceSelection = true
        this.showErrorMessage = false
      }
    },
    getDateString(date: Date): string {
      return date.getDate() + '/' +  (date.getMonth() + 1) + '/' + date.getUTCFullYear();
    },
    getErrorMessage(): string {
      if (!this.validDataSourceSelection) {
        return 'Es muss mindestens eine Datenquelle ausgewählt werden';
      } else if (!this.validTopicSelection) {
        return 'Die Zahl muss grüßer als 2 sein';
      } else {
        return 'Ungültige Eingabe'
      }
    }
  },
  mounted () {
    this.loadInfo()
  }
})
</script>

<style lang="scss" scoped>
  @import "../style/variables.scss";

  .iconImg {
    fill: $bright_blue;
  }
</style>

<style lang="postcss" scoped>

.triangle {
  @apply absolute top-0 right-0 hidden xsm:block;

  border-left: 2rem solid #07a6df;
  border-bottom: 2rem solid transparent;
  border-top: 2rem solid transparent;
  border-right: 0;
  transform: translateX(100%);
}

.triangle-w {
  @apply absolute top-0 left-0 hidden xsm:block;

  border-left: 2rem solid theme('colors.white');
  border-bottom: 2rem solid transparent;
  border-top: 2rem solid transparent;
  border-right: 0;
}

@media (max-width: 640px) {
  .hide {
    visibility: hidden;
    font-size: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 640px) {
  .icon path {
    fill: #07a6df;
  }
}

@media (min-width: 1024px) {
  .triangle {
    border-left: 1.75rem solid #07a6df;
    border-bottom: 1.75rem solid transparent;
    border-top: 1.75rem solid transparent;
    border-right: 0;
  }

  .triangle-w {
    border-left: 1.75rem solid theme('colors.white');
    border-bottom: 1.75rem solid transparent;
    border-top: 1.75rem solid transparent;
    border-right: 0;
  }
}

.download-csv-container {

}
</style>
