<template>
  <div class="flex flex-wrap w-full md:w-1/2 mb-auto pr-6 text-main">
    <span class="text-6xl">LDA</span>
    <span class="text-sm ml-2 flex flex-col w-20"><span>Linear</span><span>discriminant</span><span>analysis</span></span>
    <p class="w-full py-6">
    Die LDA-Methode wird verwendet, um eine lineare Kombination von Merkmalen zu finden, die zwei oder mehr eingegangene Datensätze/Nachrichten charakterisiert oder trennt. Mehr Informationen über die Methode findest du  <a href="https://de.wikipedia.org/wiki/Diskriminanzfunktion">hier</a>.
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    

    return {}
  }
})
</script>

<style scoped>

</style>
