<template>
  <div class="footer-container">
    <footer
        class="flex items-center flex-wrap text-2xl p-8 sm:h-32">
      <div class="logos flex items-center flex-col w-full h-full mb-8 sm:flex-row lg:w-auto lg:mx-0 lg:mb-0">
        <a class="org-logo" href="https://okfn.de/"><img class="org-logo-img w-40 mx-auto sm:w-auto lg:mx-0 lg:mr-2"  src="/assets/logos/okf.png" alt="open knowledge foundation germany" /></a>
        <a class="org-logo" href="https://ijab.de/"><img  class="org-logo-img w-40 mx-auto sm:w-auto lg:mx-0 lg:mr-2" src="/assets/logos/ijab.png" alt="ijab" /></a>
        <a class="org-logo" href="https://www.bmfsfj.de/"><img  class="org-logo-img w-40 mx-auto sm:w-auto lg:mx-0 lg:mr-2" src="/assets/logos/gov.png" alt="Gefördert von: Bundesministeriums für Famlie, Senioren Frauen und Jugend" /></a>
        <a class="org-logo" href="https://www.bmfsfj.de/smart"><img  class="org-logo-img w-40 mx-auto sm:w-auto lg:mx-0 lg:mr-2" src="/assets/logos/sgp.jpg" alt="Smarte Gesellschafts-Politik" /></a>
      </div>
      <div class="mx-auto flex items-center flex-col sm:flex-row lg:mr-0">
        <router-link to="/uber" class="px-6 py-4 rounded text-main hover:text-white hover:bg-main">Über das Projekt</router-link>
        <router-link to="/impressum" class="px-6 py-4 rounded text-main hover:text-white hover:bg-main sm:ml-4">Impressum</router-link>
      </div>
      <div class="w-full h-8"></div>
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    

    return {}
  }
})
</script>

<style lang="postcss" scoped>

.org-logo-img {
  @apply max-h-full my-4;
  height: 100% !important;

}

.org-logo {
  display: contents;
}

.footer-container {
  padding-top: 6%;
}

</style>
