<template>
  <div class="statistic-container">
    <h2 class="headline">LDA-Daten zum Begriff "{{term}}"</h2>
    <table >
      <tr>
        <th>Ausgewähltes Wort</th>
        <th>Ausgewählte Datenquelle(n)</th>
        <th>Ausgewähltes Thema</th>
        <th>Relevanz innerhalb des Themas</th>
      </tr>
      <tr>
        <td class="blue-th" >{{term}}</td>
        <td class="blue-th" >{{dataSources}}</td>
        <td class="blue-th" >{{topicNumber}} von {{numOfTopics}}</td>
        <td class="blue-th" v-if="relevanceDefined">{{relevance}}</td>
        <td class="blue-th" v-if="!relevanceDefined">Fehler bei der Berechnung</td>
      </tr>
    </table>
    <div>
      <h2 v-if="showTwitterStats" class="headline">Stimmung auf Twitter zum Begriff "{{term}}"</h2>
      <table >
        <tr>
          <th>Stimmung (grün: positiv, rot: negativ)</th>
          <th>Anzahl der Tweets</th>
          <th>Davon positive Tweets</th>
          <th>Davon negative Tweets</th>
        </tr>
        <tr v-if="!tweetsSentimentUndefined">
          <td class="positive-sentiment blue-th" v-if="tweetsSentimentScoreAvg > 0">{{ tweetsSentimentScoreAvg * 100 }}%</td>
          <td class="negative-sentiment blue-th" v-if="tweetsSentimentScoreAvg <= 0">{{ tweetsSentimentScoreAvg * 100 }}%</td>
          <td class="blue-th" >{{ tweetsCount }}</td>
          <td class="blue-th" >{{ tweetsPos }}</td>
          <td class="blue-th" >{{ tweetsNeg }}</td>
        </tr>
        <tr v-if="tweetsSentimentUndefined">
          <td class="blue-th" >{{noDataAvailable}}</td>
          <td class="blue-th" >{{noDataAvailable}}</td>
          <td class="blue-th" >{{noDataAvailable}}</td>
          <td class="blue-th" >{{noDataAvailable}}</td>
        </tr>
      </table>
    </div>
    <div>
      <h2 v-if="showInstaStats" class="headline">Stimmung auf Instagram zum Begriff "{{term}}"</h2>
      <table >
        <tr>
          <th>Stimmung (grün: positiv, rot: negativ)</th>
          <th>Anzahl der Instagram Posts</th>
          <th>Davon positive Posts</th>
          <th>Davon negative Posts</th>
        </tr>
        <tr v-if="!instaSentimentUndefined">
          <td class="positive-sentiment blue-th" v-if="instaSentimentScoreAvg > 0">{{ instaSentimentScoreAvg * 100 }}%</td>
          <td class="negative-sentiment blue-th" v-if="instaSentimentScoreAvg <= 0">{{ instaSentimentScoreAvg * 100}}%</td>
          <td class="blue-th" >{{instaCount}}</td>
          <td class="blue-th" >{{instaPos}}</td>
          <td class="blue-th" >{{instaNeg}}</td>
        </tr>
        <tr v-if="instaSentimentUndefined">
          <td class="blue-th" >{{noDataAvailable}}</td>
          <td class="blue-th" >{{noDataAvailable}}</td>
          <td class="blue-th" >{{noDataAvailable}}</td>
          <td class="blue-th" >{{noDataAvailable}}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import {defineComponent} from "vue";

const TOPICS_API = import.meta.env.VITE_TOPICS_API

export default defineComponent({
  components: {},
  data() {
    return {
      dataSources: this.getReadableDataSources(),
      showTwitterStats: this.displayTwitterStats(),
      showInstaStats: this.displayInstaStats(),
      relevanceDefined: false,
      relevance: 0,
      numOfTopics: this.$route.query.numOfTopics,
      term: this.$route.query.term,
      topicNumber: this.$route.query.topicNumber,
      platform: this.$route.query.platform,
      tweetsSentimentUndefined: false,
      instaSentimentUndefined: false,
      tweetsSentimentScoreAvg: 0,
      tweetsSentimentMagnitudeAvg: 0,
      instaSentimentScoreAvg: 0,
      instaSentimentMagnitudeAvg: 0,
      tweetsCount: 0,
      instaCount: 0,
      tweetsPos: 0,
      tweetsNeg: 0,
      instaPos: 0,
      instaNeg: 0,
      noDataAvailable: 'Es liegen nicht genügend Daten vor'
    }
  },
  methods: {
    loadSentimentStats() {
      const pathParams = this.term + '/' + this.topicNumber + '/' + this.numOfTopics + '/' + this.platform
      axios.get(TOPICS_API + '/term-statistics/' + pathParams).then(res => {
        const termStats = res.data
        if(termStats.relevance){
          this.relevanceDefined = true
          this.relevance = termStats.relevance.toFixed(2);
        } else {
          this.relevanceDefined = false
        }
        this.instaSentimentUndefined = (termStats.sentimentStats.instagram_sentiment_avg.score_avg === "undefined")
        this.tweetsSentimentUndefined = (termStats.sentimentStats.tweets_sentiment_avg.score_avg === "undefined")

        if(!this.tweetsSentimentUndefined){
          this.tweetsSentimentScoreAvg = termStats.sentimentStats.tweets_sentiment_avg.score_avg.toFixed(2);
          this.tweetsSentimentMagnitudeAvg = termStats.sentimentStats.tweets_sentiment_avg.magnitude_avg.toFixed(2);
          this.tweetsCount = termStats.sentimentStats.tweet_count
          this.tweetsPos = termStats.sentimentStats.tweets_pos
          this.tweetsNeg = termStats.sentimentStats.tweets_neg
        }

        if(!this.instaSentimentUndefined){
          this.instaSentimentScoreAvg = termStats.sentimentStats.instagram_sentiment_avg.score_avg.toFixed(2);
          this.instaSentimentMagnitudeAvg = termStats.sentimentStats.instagram_sentiment_avg.magnitude_avg.toFixed(2);
          this.instaCount = termStats.sentimentStats.timeline_count
          this.instaPos = termStats.sentimentStats.instagram_pos
          this.instaNeg = termStats.sentimentStats.instagram_neg
        }
      })
    },
    displayTwitterStats(){
      const platform = this.$route.query.platform;
      return platform == 'mixed' || platform == 'twitter';
    },
    displayInstaStats(){
      const platform = this.$route.query.platform;
      return platform == 'mixed' || platform == 'instagram';
    },
    getReadableDataSources(){
      let platform = String(this.$route.query.platform)
      if(platform == 'mixed'){
        return 'Twitter, Instagram'.toUpperCase()
      } else if( platform == ''){
        return ''
      }
      return platform.toUpperCase()
    }
  },
  mounted() {
    this.loadSentimentStats()
  }
})

</script>

<style lang="scss">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.positive-sentiment{
  color: darkgreen;
}

.negative-sentiment{
  color: darkred;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.headline{
  margin-top: 3%;
  text-align: center;
  font-weight: bold;
}
table { table-layout: fixed; }
td {
  //width: 33%;
}

th {
  background: #07a6df;
  width: 33%;
}

.statistic-container {
  width: 80%;
  margin: auto;
}
</style>