<template>
  <div
    class="relative"
    @mouseover="activate = true"
    @mouseout="activate = false">
    <slot></slot>
    <transition name="fade">
      <div
        v-if="activate || isError"
        :class="{'tooltip': true, 'error': isError, 'top': $route.path === '/'}"
        v-html="text">
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    text: String,
    isError: Boolean
  },
  data: () => ({
    activate: false
  })
})
</script>

<style lang="postcss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.tooltip {
  @apply absolute z-30 bottom-0 p-4 shadow-md font-normal rounded text-main;

  background-color: #f2f2f2;
  transform: translateY(calc(100% + 1rem));
}

.top {
  @apply bottom-auto top-0;

  transform: translateY(calc(-100% - 1rem));
}

.error {
  @apply text-white bg-red-500;
}

.tooltip::before {
  @apply absolute top-0 left-1/4;

  content: '';
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #f2f2f2;
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #f2f2f2;
  transform: translateY(-100%);
}

.top:before {
  @apply top-auto bottom-0;

  transform: translateY(100%), rotate(180deg);
}

.error::before {
  border-bottom: 0.5rem solid #EF4444;
  border-right: 0.5rem solid #EF4444;
}

</style>