<template>
  <div
    class="relative flex items-center pr-8 my-8 h-12 pl-8 mb-auto"
    :style="{backgroundColor: color}">
    <h1>Thema<span class="font-bold ml-1">{{topic}}</span></h1>
    <twitter class="ml-auto w-6 h-6 iconImg"></twitter>
    <span class="ml-1 text-white text-xl">{{tweets}}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Twitter from './icons/twitter.vue'

export default defineComponent({
  components: {
    Twitter
  },
  props: {
    topic: Number,
    tweets: Number,
    color: String
  },
})
</script>

<style lang="postcss" scoped>
.iconImg {
  fill: #fff;
}
</style>
