<template>
  <div class="flex-grow mb-8">
    <div class="test" id="test"></div>
    <h2>Verteilung der Daten</h2>
    <div class="flex flex-wrap text-xs text-gray-400 font-bold">
      <div
        v-for="(topic, key) in topics" :key="key"
        class="flex items-center pl-1 h-4 cursor-pointer"
        :style="{
          backgroundColor: $store.state.visState.topic === topic ? colors[key] : 'transparent',
          color: $store.state.visState.topic === topic ? '#fff' : 'inherit'
        }"
        @mouseover="selectTopic(topic)"
        @mouseout="selectTopic(0)">
        Thema {{topic}}:
        <span
          class="px-1 ml-1 h-full flex items-center"
          :style="{
            backgroundColor: $store.state.visState.topic === topic || $store.state.visState.topic === 0 ? colors[key] : 'transparent',
            color: $store.state.visState.topic === topic || $store.state.visState.topic === 0 ? '#fff' : 'inherit'
          }">
          {{Math.round(freq[key])}}%
        </span>
      </div>
    </div>
    <ul class="mt-2">
      <li class="flex items-center">
        <!-- <span class="mx-2 font-bold">798</span> -->
        <div class="relative flex-grow flex h-4 bg-gray-200">
          <div
            v-for="(topic, key) in topics" :key="key"
            class="flex h-full bg-main text-white text-xs font-bold px-1 cursor-pointer"
            :style="{
              width: freq[key] + '%',
              backgroundColor: $store.state.visState.topic === topic || $store.state.visState.topic === 0 ? colors[key] : 'transparent',
              borderRight: '1px solid white'
            }"
            @mouseover="selectTopic(topic)"
            @mouseout="selectTopic(0)">
            {{topic}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  props: {
    topics: {
      type: Array as PropType<number[]>,
      required: true
    },
    freq: {
      type: Array as PropType<number[]>,
      required: true
    },
    colors: {
      type: Array as PropType<string[]>,
      required: true
    }
  },
  methods: {
    selectTopic (topic: number) {
      this.$store.commit('CHANGE_VIS_STATE', {
        lambda: this.$store.state.visState.lambda,
        topic: topic,
        term: this.$store.state.visState.term
      })
    }
  }
})
</script>

<style scoped>

</style>
