<template>
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import mainMenu from './components/mainMenu.vue'
import pageFooter from './components/pageFooter.vue'

export default defineComponent({
  name: 'App',
  components: {
    mainMenu,
    pageFooter
  }
})
</script>

<style lang="postcss">
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply overflow-x-hidden;
}

@font-face {
  font-family: 'Source Sans';
  font-style: thin;
  font-weight: 200;
  src:  local('Source Sans'),
        url('/assets/fonts/OTF/SourceSans3-ExtraLight.ttf') format('truetype'),
        url('/assets/fonts/OTF/SourceSans3-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans';
  font-style: light;
  font-weight: 300;
  src:  local('Source Sans'),
        url('/assets/fonts/OTF/SourceSans3-Light.ttf') format('truetype'),
        url('/assets/fonts/OTF/SourceSans3-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 400;
  src:  local('Source Sans'),
        url('/assets/fonts/OTF/SourceSans3-Regular.ttf') format('truetype'),
        url('/assets/fonts/OTF/SourceSans3-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 600;
  src:  local('Source Sans'),
        url('/assets/fonts/OTF/SourceSans3-Semibold.ttf') format('truetype'),
        url('/assets/fonts/OTF/SourceSans3-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans';
  font-style: bold;
  font-weight: 700;
  src:  local('Source Sans'),
        url('/assets/fonts/OTF/SourceSans3-Bold.ttf') format('truetype'),
        url('/assets/fonts/OTF/SourceSans3-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 900;
  src:  local('Source Sans'),
        url('/assets/fonts/OTF/SourceSans3-Black.ttf') format('truetype'),
        url('/assets/fonts/OTF/SourceSans3-Black.otf') format('opentype');
}

#app {
  font-family: 'Source Sans', sans-serif;
}

h1 {
  @apply text-4xl text-white font-light uppercase;
}

h2 {
  @apply text-gray-400 uppercase mb-8;
}

.l-shape {
  @apply mb-8;

  border-top: 0;
  border-right: 0;
}

</style>