<template>
  <main-menu v-if="$route.path !== '/'"></main-menu>
  <div class="flex flex-col min-h-screen">
    <div v-if="loaded">
      <div class="flex flex-wrap w-full px-6 md:px-20 py-8">
        <method-description></method-description>
        <tweets-distribution
            :topics="json.mdsDat.topics"
            :freq="json.mdsDat.Freq"
            :colors="colors"
        ></tweets-distribution>
        <lda-vis class="hidden sm:block" :colors="colors" :json="json"></lda-vis>
        <p class="sm:hidden bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          Die erweiterte Clusterung wird auf Mobilgeräten nicht angezeigt. Bitte lade die Seite auf einem Desktopcomputer.
        </p>
      </div>
      <div v-for="(topic, key) in json.mdsDat.topics" :key="topic" class="flex-grow w-full mx-auto">
        <topic-header
            :topic="topic"
            :tweets="Math.round(json.mdsDat.Freq[key] / 100 * numDocs)"
            :color="colors[key]">
        </topic-header>
        <div class="flex flex-wrap w-full px-6 md:px-20 py-8">
          <div class="flex-grow max-w-5xl pt-12 mx-auto" >
            <d3-tag-cloud :topicNumber=topic :numOfTopics=numOfTopics :platform=platform :terms="topicTerms['Topic' + topic]"></d3-tag-cloud>
          </div>
        </div>

      </div>
    </div>
    <div v-else class="flex-grow flex items-center justify-center">
      <loading-animation></loading-animation>
    </div>
    <page-footer></page-footer>
  </div>
</template>

<script lang="ts">
import { TopicsData, TopicTermsFrequency } from '../types/types'

import axios from 'axios'
import * as d3 from 'd3'

import ldaVis from '../components/ldaVis.vue'
import d3TagCloud from '../components/d3TagCloud.vue'
import loadingAnimation from '../components/loadingAnimation.vue'
import methodDescription from '../components/methodDescription.vue'
import topicHeader from '../components/topicHeader.vue'
import tweetsDistribution from '../components/tweetsDistribution.vue'
import {defineComponent} from "vue";
import termStatistics from "../components/termStatistics.vue";
import mainMenu from "../components/mainMenu.vue";
import pageFooter from "../components/pageFooter.vue";

const TOPICS_API = import.meta.env.VITE_TOPICS_API

export default defineComponent({
  components: {
    mainMenu,
    pageFooter,
    termStatistics,
    d3TagCloud,
    ldaVis,
    loadingAnimation,
    methodDescription,
    topicHeader,
    tweetsDistribution
  },
  data: () => ({
    json: {} as TopicsData,
    numDocs: 0,
    loaded: false,
    topicTerms: {} as TopicTermsFrequency,
    colors: [] as string[],
    platform: "" as string,
    numOfTopics: 0
  }),
  methods: {
    loadJSON () {
      this.loaded = false
      const method = this.$store.state.selectedOptions.method
      this.platform = String(this.$route.params.dataSource)
      this.numOfTopics = this.$store.state.selectedOptions.topics

      axios.get(TOPICS_API + '/topics/' + this.platform + '/' + method + '/' + this.numOfTopics)
        .then(res => {
          this.numDocs = res.data.num_documents
          this.json = res.data.topics_data
          this.loaded = true
          this.termsPerTopic()
          this.calcColors()
        })
    },
    termsPerTopic () {
      let topic_terms_frequency = {} as TopicTermsFrequency
      for (let index in this.json.tinfo.Term) {
        if(this.json.tinfo.Category[index] !== 'Default') {
          if (!topic_terms_frequency[this.json.tinfo.Category[index]]) { topic_terms_frequency[this.json.tinfo.Category[index]] = [
              {
                text: this.json.tinfo.Term[index],
                size: this.json.tinfo.Freq[index] / this.json.tinfo.Total[index]
              }
            ]
          } else {
            topic_terms_frequency[this.json.tinfo.Category[index]].push({
              text: this.json.tinfo.Term[index],
              size: this.json.tinfo.Freq[index] / this.json.tinfo.Total[index]
            })
          }
        }
      }
      this.topicTerms = topic_terms_frequency
    },
    calcColors () {
      let myColors = d3.scaleSequential()
        .domain([1, 2* Math.PI])
        .interpolator(d3.interpolateRainbow)

      for(let index in this.json.mdsDat.topics) {
        this.colors.push(myColors(parseInt(index)))
      }
    }
  },
  watch:{
    $route (to, from){
        this.loadJSON()
    }
  } ,
  mounted () {
    this.loadJSON()
  }
})


</script>

<style scoped>

</style>
