<template>
  <div class="pt-8 flex-grow flex flex-col items-center justify-center overflow-hidden text-main">
    <img src="/assets/robot.svg" class="w-60 mt-auto" />
    <span class="hidden md:block text-3xl font-light">
      Jugendverstärker
    </span>
    <main-menu></main-menu>
    <span class="my-auto py-8 px-8 md:px-40 text-lg">
      <p>Teile deine Positionen mit dem Jugendverstärker-Bot und analysiere, was Jugendliche mit ihm geteilt haben.</p>
      <p>Alle Daten werden anonymisiert gespeichert. Überprüfe, wie das System arbeitet und
        <a class="underline hover:text-blue-600" href="https://gitlab.com/youthamp">schau’ dir den Code an</a>.</p>
    </span>
  </div>
  <page-footer></page-footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import mainMenu from '../components/mainMenu.vue'
import PageFooter from "../components/pageFooter.vue";

export default defineComponent({
  components: {
    PageFooter,
    mainMenu
  }
})
</script>

<style scoped>

</style>