<template>
  <div class="p-8 lg:pl-40 lg:pr-20">
    <h1 class="text-main">Impressum</h1>
    <div class="text-gray-600">
      <p>
        <strong>Vereinsadresse:</strong><br />
        Open Knowledge Foundation Deutschland e.V.<br />
        Singerstr. 109<br />
        10179 Berlin<br />
        Deutschland
      </p>

      <p>
        <strong>E-Mail:</strong> info@okfn.de [<a
          href="/okf/info_okfn_de_pub.asc"
          >OpenPGP</a
        >]<br />
        <strong>Telefon:</strong> +49 30 57 70 36 660<br />
        <strong>Fax:</strong> +49 30 57 70 36 669
      </p>

      <p>
        <a href="https://www.openstreetmap.org/way/29386807">OpenStreetMap</a> -
        <a
          href="https://www.google.com/maps/place/Singerstra%C3%9Fe+109,+10179+Berlin/@52.5167261,13.4232556,17z/data=!3m1!4b1!4m5!3m4!1s0x47a84e3db119b3fd:0x9131b3b816d6709!8m2!3d52.5167261!4d13.4254443?hl=en"
          >Google Maps</a
        >
      </p>

      <p>
        <strong>Vereinsregister-Nr.:</strong> VR 30468 B<br />
        <strong>Umsatzsteuernummer:</strong> DE278022128
        <strong>Registergericht:</strong> Amtsgericht Charlottenburg
        <strong>Vertretungsberichtiger Vorstand</strong>: Andreas Pawelke,
        Daniel Dietrich, Jana Wichmann, Kristina Klein, Julia Reda, Lea Gimpel,
        Gabriele C. Klug, Stefan Heumann.
      </p>

      <p>
        <strong>Technisch:</strong> Statisches HTML generiert mit
        <a href="https://gohugo.io/">Hugo</a>
      </p>

      <h3 id="haftungsausschluss">Haftungsausschluss</h3>

      <p>
        Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV ist der jeweilige Autor
        eines Textes.
      </p>

      <h3 id="haftung-für-inhalte">Haftung für Inhalte</h3>

      <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
        Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
        jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
        Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir als
        Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen.
      </p>

      <h3 id="haftung-für-links">Haftung für Links</h3>

      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>

      <h3 id="urheberrecht">Urheberrecht</h3>

      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Sie sind mit einer
        Creative Commons Lizenz urheberrechtlich geschützt. Sofern nicht anders
        angegeben, stehen die Inhalte dieser Seite unter der Creative Commons
        Namensnennung 3.0 DE Lizenz. Soweit die Inhalte auf dieser Seite nicht
        vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
        beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
        Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
        bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
        Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
      </p>

      <p></p>
      <div id="datenschutzerklaerung"></div>
      <p></p>

      <h2 id="datenschutzerklärung">Datenschutzerklärung</h2>

      <p>
        Die Open Knowledge Foundation Deutschland e.V., Singerstr. 109, 10179
        Berlin Deutschland (nachfolgend als „Open Knowledge Foundation“ oder
        „wir“ bezeichnet) betreibt die im Internet unter
        <a href="https://jugendverstaerker.digital/">jugendverstaerker.digital</a> und den jeweils dazu
        gehörenden Unterverzeichnissen abrufbare Internetseite (nachfolgend
        „jugendverstärker“ oder die „Website“).
      </p>

      <p>
        Die Open Knowledge Foundation möchte Ihnen mit dieser
        Datenschutzerklärung erläutern, welche Daten in welcher Form verarbeitet
        werden, wenn Sie unsere Website besuchen. Hiermit kommen wir zugleich
        unserer Informationspflicht gem. Art. 13 Datenschutz-Grundverordnung
        (DS-GVO) Ihnen gegenüber nach.
      </p>

      <h3
        id="i-verantwortlicher-und-kontaktmöglichkeiten-des-datenschutzbeauftragten"
      >
        I. Verantwortlicher und Kontaktmöglichkeiten des Datenschutzbeauftragten
      </h3>

      <p>
        Die datenschutzrechtlich Verantwortliche für die auf unserer Website
        stattfindenden Datenverarbeitungen ist die
      </p>

      <p>
        Open Knowledge Foundation Deutschland e.V. Singerstr. 109 10179 Berlin
        Deutschland
      </p>

      <p>
        E-Mail: info@okfn.de<br />
        Telefon: +49 30 57703666 0<br />
        Fax: +49 30 57703666 9<br />
      </p>

      <p>Unser Datenschutzbeauftragter ist erreichbar unter:</p>

      <p>
        Open Knowledge Foundation Deutschland e.V.<br />
        - Datenschutzbeauftragter -<br />
        Singerstr. 109<br />
        10179 Berlin<br />
        Deutschland<br />
        <br />
        datenschutz@okfn.de [<a href="/okf/datenschutz_okfn_de_pub.asc"
          >OpenPGP</a
        >]
      </p>

      <p>
        Unsere externe Datenschutzbeauftragte ist Beata-Konstanze Hubrig von der
        Rechtsanwaltskanzlei
        <a href="https://kanzlei-hubrig.de/">https://kanzlei-hubrig.de/</a>
      </p>

      <h3
        id="ii-personenbezogene-daten-zwecke-und-rechtsgrundlage-der-datenverarbeitung"
      >
        II. Personenbezogene Daten, Zwecke und Rechtsgrundlage der
        Datenverarbeitung
      </h3>

      <h4 id="1-personenbezogene-daten">1. Personenbezogene Daten</h4>

      <p>
        Nach der DS-GVO sind personenbezogene Daten „alle Informationen, die
        sich auf eine identifizierte oder identifizierbare natürliche Person (im
        Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine
        natürliche Person angesehen, die direkt oder indirekt, insbesondere
        mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer,
        zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren
        besonderen Merkmalen identifiziert werden kann, die Ausdruck der
        physischen, physiologischen, genetischen, psychischen, wirtschaftlichen,
        kulturellen oder sozialen Identität dieser natürlichen Person sind.
      </p>

      <h4 id="2-allgemeine-nutzung-der-website">
        2. Allgemeine Nutzung der Website
      </h4>

      <p>
        Wir erheben und speichern im Zuge Ihres Besuchs auf unserer Website
        keine personenbezogenen Daten.
      </p>

      <p>
        Unbeschadet der vorstehenden grundsätzlichen Gegebenheiten registriert
        aber der Webserver unseres Hosters automatisch Zugriffe auf die Websites
        und dabei insbesondere Ihre IP-Adresse.
      </p>

      <p>
        Zudem legt unser Hoster zur Erhaltung der Systemsicherheit sog. Logfiles
        an. Diese Logfiles enthalten die folgenden Informationen:
      </p>

      <ul>
        <li>die IP - Adresse</li>
        <li>Datum des Zugriffs</li>
        <li>die URL</li>
        <li>Inhalte auf die zugegriffen wurde sowie</li>
        <li>die übertragenen Informationen</li>
      </ul>

      <p>
        Diese Informationen bleiben für uns anonym. Ein Rückschluss auf eine
        Person ist somit nicht möglich.
      </p>

      <p>
        Nehmen Sie unter der auf unserer Website angegebenen E-Mail-Adresse
        Kontakt zu uns auf, teilen Sie uns zumindest Ihre E-Mail-Adresse mit,
        sowie gegebenenfalls weitere Informationen, die Sie in Ihrer E-Mail
        preisgeben. Damit wir Ihr Anliegen bearbeiten können, müssen wir diese
        Daten verarbeiten.
      </p>

      <h4 id="3-zwecke-und-rechtsgrundlage-der-datenverarbeitung">
        3. Zwecke und Rechtsgrundlage der Datenverarbeitung
      </h4>

      <p>
        Die Verarbeitung Ihrer IP-Adresse während des Verbindungsaufbaus
        erfolgt, damit wir Ihnen unsere Website zur Verfügung stellen können.
        Sie basiert auf Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes
        Interesse besteht im genannten Zweck.
      </p>

      <p>
        Die Verarbeitung im Rahmen einer Kontaktaufnahme erfolgt, damit wir Ihre
        Anfrage bearbeiten und beantworten könne. Die Rechtsgrundlage ist Art. 6
        Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse liegt im soeben
        genannten Zweck.
      </p>

      <h3 id="iii-empfänger-der-daten">III. Empfänger der Daten</h3>

      <p>
        Innerhalb unseres Unternehmens haben jeweils die Abteilungen auf Ihre
        Daten Zugriff, die für die Bearbeitung der Anliegen zuständig sind.
        Zudem setzen wir externe Dienstleister ein, soweit wir Leistungen nicht
        oder nicht sinnvoll selbst vornehmen können. Diese externen
        Dienstleister sind dabei vor allem Anbieter von IT-Dienstleistungen und
        Telekommunikationsdienste.
      </p>

      <p>
        Eine Übermittlung in Drittstaaten findet grundsätzlich nicht und nur
        dann statt, soweit sie zur Ausführung Ihrer Aufträge erforderlich ist,
        gesetzlich vorgeschrieben ist oder Sie uns Ihre Einwilligung hierzu
        erteilt haben.
      </p>

      <h3 id="iv-speicherdauer">IV. Speicherdauer</h3>

      <p>
        Ihre E-Mails und Kontaktaufnahmen speichern wir so lange, wie es zur
        Bearbeitung Ihrer Anfrage erforderlich ist und speichern Sie
        anschließend für einen Zeitraum von 3 Jahren, falls Sie sich
        bezugnehmend auf Ihre ursprüngliche Frage noch einmal an uns wenden.
      </p>

      <h3 id="v-betroffenenrechte">V. Betroffenenrechte</h3>

      <p>
        Die Datenschutz-Grundverordnung garantiert Ihnen gewisse Rechte, die Sie
        uns gegenüber – soweit die gesetzlichen Voraussetzungen vorliegen –
        geltend machen können.
      </p>

      <ul>
        <li>
          <strong>Art. 15 DS-GVO – Auskunftsrecht der betroffenen Person</strong
          >: Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen,
          ob Sie betreffende personenbezogene Daten verarbeitet werden und wenn
          ja, welche dies sind sowie die näheren Umstände der Datenverarbeitung.
        </li>
        <li>
          <strong>Art. 16 DS-GVO – Recht auf Berichtigung</strong>: Sie haben
          das Recht, von uns unverzüglich die Berichtigung Sie betreffender
          unrichtiger personenbezogener Daten zu verlangen. Dabei haben Sie
          unter Berücksichtigung der Zwecke der Verarbeitung auch das Recht, die
          Vervollständigung unvollständiger personenbezogener Daten – auch
          mittels einer ergänzenden Erklärung – zu verlangen.
        </li>
        <li>
          <strong>Art. 17 DS-GVO – Recht auf Löschung</strong>: Sie haben das
          Recht, von uns zu verlangen, dass Sie betreffende personenbezogene
          Daten unverzüglich gelöscht werden. Beachten Sie hier bitte die unter
          Punkt II. 4 beschriebene Ausnahme
        </li>
        <li>
          <strong
            >Art. 18 DS-GVO – Recht auf Einschränkung der Verarbeitung</strong
          >: Sie haben das Recht, von uns die Einschränkung der Verarbeitung zu
          verlangen.
        </li>
        <li>
          <strong>Art. 20 DS-GVO – Recht auf Datenübertragbarkeit</strong>: Sie
          haben das Recht, im Falle der Verarbeitung aufgrund einer Einwilligung
          oder zur Erfüllung eines Vertrags, die Sie betreffenden
          personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem
          strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und
          diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns
          zu übermitteln oder die Daten direkt an den anderen Verantwortlichen
          übermitteln zu lassen, soweit dies technisch machbar ist.
        </li>

        <li>
          <p>
            <strong>Art. 21 DS-GVO – Widerspruchsrecht</strong>: Sie haben das
            Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben,
            jederzeit gegen die Verarbeitung Sie betreffender personenbezogener
            Daten, die aufgrund eines berechtigten Interesses unsererseits oder
            zur Wahrung einer Aufgabe im öffentlichen Interesse erforderlich
            ist, oder die in Ausübung öffentlicher Gewalt erfolgt, Widerspruch
            einzulegen.
          </p>

          <p>
            Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten
            nicht mehr verarbeiten, es sei denn, wir können zwingende
            schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
            Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung
            dient der Geltendmachung, Ausübung oder Verteidigung von
            Rechtsansprüchen.
          </p>

          <p>
            Soweit wir Ihre personenbezogenen Daten verarbeiten, um
            Direktwerbung zu betreiben, haben Sie das Recht, jederzeit
            Widerspruch gegen die Verarbeitung einzulegen. Widersprechen Sie der
            Verarbeitung für Zwecke der Direktwerbung, so werden wir Ihre
            personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten.
          </p>
        </li>

        <li>
          <p>
            <strong
              >Art. 77 DSGVO i. V. m. § 19 BDSG – Recht auf Beschwerde bei einer
              Aufsichtsbehörde</strong
            >: Sie haben das Recht, jederzeit Beschwerde bei einer
            Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres
            Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen
            Verstoßes, einzulegen, wenn Sie der Ansicht sind, dass die
            Verarbeitung der sie betreffenden personenbezogenen Daten gegen
            geltendes Recht verstößt.
          </p>
        </li>
      </ul>

      <h3 id="vi-pflicht-zur-bereitstellung-von-daten">
        VI. Pflicht zur Bereitstellung von Daten
      </h3>

      <p>
        Sie haben keine vertragliche oder gesetzliche Pflicht uns
        personenbezogene Daten bereitzustellen. Allerdings sind wir ohne die von
        Ihnen mitgeteilten Daten nicht in der Lage, Ihnen unsere Services
        anzubieten.
      </p>

      <h3
        id="vii-bestehen-von-automatisierten-entscheidungsfindungen-einschließlich-profiling"
      >
        VII. Bestehen von automatisierten Entscheidungsfindungen (einschließlich
        Profiling)
      </h3>

      <p>
        Wir verwenden keine automatisierten Entscheidungsfindungen, die Ihnen
        gegenüber rechtliche Wirkungen entfaltet oder Sie beeinträchtigt.
      </p>

      <h3 id="viii-internetspezifische-datenverarbeitungen">
        VIII. Internetspezifische Datenverarbeitungen
      </h3>

      <p>
        Während der Nutzung unserer Internetseiten werden durch uns automatisch
        technische Zugriffsdaten aufgezeichnet und ausgewertet. Hierfür benutzen
        wir das Tool “Matomo” (ehemals „Piwik“), ein Open-Source-Programm für
        Webanalytik, welches statistische Kennwerte zur Nutzung unserer Website
        auswertet. Diese Daten können jedoch nicht einer bestimmten Person
        zugeordnet werden; der einzelne Benutzer bleibt hierbei anonym. Weitere
        Informationen zu “Matomo” finden Sie auf der Website
        <a href="https://matomo.org">https://matomo.org</a>.
      </p>

      <p>Zu diesen Daten gehören zum Beispiel</p>

      <ul>
        <li>Die um die letzten beiden Oktette gekürzte IP-Adresse,</li>
        <li>
          Informationen über den verwendeten Internet-Browser und das verwendete
          Betriebssystem,
        </li>
        <li>
          der Domain-Name der Website, von der aus ein Besuch unserer
          Internet-Seiten erfolgt,
        </li>
        <li>die durchschnittliche Verweildauer in unserem Angebot und</li>
        <li>die in unserer Web-Site aufgerufenen Seiten.</li>
      </ul>

      <p>
        Durch die Entfernung des folgenden
        <a
          href="https://traffic.okfn.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de"
          >Hakens</a
        >
        können Sie verhindern, dass wir mittels Matomo Ihre Besuche zählen. In
        diesem Fall wird ein Cookie gesetzt um uns zu signalisieren, dass Sie
        der Nutzung widersprochen haben.
      </p>

      <p>
        Bitte beachten Sie, dass die jeweiligen Einstellungen bzgl. Cookies nur
        für Ihr aktuell benutztes Gerät und Ihren aktuell benutzten Browser
        wirksam sind. Sollten Sie ein anderes Gerät oder einen anderen Browser
        benutzen, müssen Sie in der Regel die Einstellungen erneut vornehmen.
        Zudem unterstützen wir die „Do not Track“ Funktion Ihres Browsers.
        Hiermit können Sie uns aktiv über Ihre Browsereinstellungen mitteilen,
        ob Sie eine Aufzeichnung Ihrer Aktivitäten wünschen oder nicht. Haben
        Sie „Do not Track“ aktiviert, erfolgt keine Aufzeichnung Ihrer
        Aktivitäten.
      </p>

      <p>
        Die Rechtsgrundlage für die Verwendung von Matomo findet sich in Art. 6
        Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse besteht darin, dass
        wir die Nutzung unserer Website zu deren Verbesserung und Optimierung
        auswerten. Die so erfassten Daten werden für einen Zeitraum von 24
        Monaten gespeichert.
      </p>

      <h3 id="ix-wenn-sie-anmerkungen-oder-fragen-haben">
        IX. Wenn Sie Anmerkungen oder Fragen haben
      </h3>

      <p>
        Wir treffen alle erdenklichen Vorkehrungen zum Schutz und zur Sicherheit
        Ihrer Daten. Ihre Fragen und Kommentare zum Datenschutz sind uns
        willkommen, schreiben Sie einfach eine Mail an info@okfn.de.
      </p>

      <p>Berlin, Mai 2020</p>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    return {};
  },
};
</script>

<style lang="postcss" scoped>
p {
  @apply mt-8;
}

h2 {
  @apply text-3xl uppercase mt-8;

  color: inherit;
}

h3 {
  @apply text-2xl uppercase mt-8;
}
</style>
