<template>
  <div class="p-8 lg:pl-40 lg:pr-20">
    <h1 class="text-main">Über das Projekt</h1>
    <div class="text-gray-600">
      <p>
        Wie kann die Politik hören, was junge Menschen beschäftigt? Wie kann Software aussehen, die ungehörte Themen aufzeigt? Wo ist KI sinnvoll, wo ist sie gefährlich? Jugendverstärker geht diesen Fragen nach und hat einen Prototypen entwickelt.
      </p>
      <p>
        Viele Beteiligungsangebote übersehen, was junge Menschen beschäftigt. Es entsteht der Eindruck, dass die Politik nicht mitbekommt, was Jugendliche möchten - viele Stimmen bleiben ungehört. Jugendverstärker möchte diese aufspüren und sichtbar machen.
      </p>
      <p>
        Auf der Grundlage von verschiedenen Social-Media-Daten, wie Tweets oder Instastorys, sollen Themenfelder jungendlicher und junger erwachsener User thematisch sortiert werden. Dieser erste Prototyp arbeit mit Twitter- und Instagram-Daten.
      </p>

      <h3 id="Mitmachen">Mitmachen - Spende uns deine Daten</h3>
      <p>
        Wir achten eure Privatsphäre und respektieren euer Recht an den eigenen Daten. Daher verarbeiten wir nicht ungefragt eure Nachrichten. Deswegen sind wir auf eure Mitarbeit angeweisen:
      </p>
      <p>
        Tagge den Jugendverstärker-Bot auf <a href="https://twitter.com/youthamplifier" target="_blank">Twitter</a> oder <a href="https://www.instagram.com/youth.amplifier/" target="_blank">Instagram</a> in öffentlichen Nachrichten mit deinen Interessen, Wünschen oder Positionen. Der Bot speichert deinen Tweet oder Post anonymisiert, indem er ihn in Keywords zerlegt und keine Informationen zu deinem Account festhält.
        Alle eingehenden Posts werden zusammengeführt und mit der <a href="https://de.wikipedia.org/wiki/Diskriminanzfunktion" target="_blank">LDA-Cluster-Methode</a> nach Themen sortiert.
      </p>
      <p>
        Wenn du das Projekt besonders unterstützen möchtest, dann spende deine Timeline. Denn umso mehr Daten wir haben, desto besser arbeitet das System. Schreibe uns dazu einfach eine Nachricht auf Twitter oder Instagram.
      </p>

      <h3 id="Organisationen">Die Organisationen dahinter</h3>

      <p>
        Das Projekt geht auf die Initiative der <a href="https://ijab.de/" target="_blank">Fachstelle für Internationale Jugendarbeit der Bundesrepublik Deutschland e.V.</a> (IJAB) zurück.
        Der <a href="https://okfn.de/" target="_blank">Open Knowledge Foundation Deutschland e.V.</a> hat im Auftrag des IJAB diese Plattform entwickelt.
        Gefördert wird das Projekt vom <a href="https://www.bmfsfj.de/" target="_blank">Bundesministerium für Familie, Senioren, Frauen und Jugend</a>.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    return {};
  },
};
</script>

<style lang="postcss" scoped>
p {
  @apply mt-8;
}

h2 {
  @apply text-3xl uppercase mt-8;

  color: inherit;
}

h3 {
  @apply text-2xl uppercase mt-8;
}
</style>
